<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Florists</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all" href="../static/styles.css" th:href="@{/styles.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div th:replace="fragments/header :: header-css"/>
</head>
<body class="text-center" background="/images/flowersback.jpg" style="background-size: 100%">
<div th:replace="fragments/header :: header"/>
<div class="bg-light text-dark" style="margin:50px" >
<ul class="nav nav-pills">
  <li class="active"><a data-toggle="pill" href="#flowers">Flowers</a></li>
  <li><a data-toggle="pill" href="#packages">Packages</a></li>
  <li><a data-toggle="pill" href="#users">Users</a></li>
</ul>

<div class="tab-content">
  <div id="flowers" class="tab-pane fade in active" style="background-color: lightblue;">
    <h1>Flowers in Database</h1>
<table class="table table-striped table-hover table-bordered table-primary">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Colour</th>
		<th>Price</th>
	</tr>
	<tr th:each="flower : ${flower}">
		<td th:text="${flower.id}">ID</td>
		<td th:text="${flower.name}">NAME</td>
		<td th:text="${flower.colour}">COLOUR</td>
		<td th:text="${flower.price}">PRICE PER ONE</td>
	</tr>
</table>
  </div>
  <div id="packages" class="tab-pane fade">
    <h3>Packages</h3>
    <table class="table table-striped table-hover table-bordered table-primary">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Price</th>
	</tr>
	<tr th:each="package : ${package}">
		<td th:text="${package.id}">ID</td>
		<td th:text="${package.name}">NAME</td>
		<td th:text="${package.price}">PRICE</td>
	</tr>
</table>
  <div id="orders" class="tab-pane fade" style="background-color: lightblue;">
    <h3>Orders</h3>
   <table class="table table-striped table-hover table-bordered table-primary">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Colour</th>
		<th>Price</th>
	</tr>
	<tr th:each="order : ${order}">
		<td th:text="${order.florestId}">ID</td>
		<td th:text="${order.florestName}">NAME</td>
		<td th:text="${order.contents}">COLOUR</td>
		<td th:text="${order.cost}">PRICE PER ONE</td>
	</tr>
</table>
  </div>
  <div id="users" class="tab-pane fade" style="background-color: lightblue;">
   <h1>Users in system</h1>
<table  class="table table-striped table-hover table-bordered table-primary">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Age</th>
		<th>Email Address</th>
	</tr>
	<tr th:each="person : ${people}">
		<td th:text="${person.id}">ID</td>
		<td th:text="${person.name}">NAME</td>
		<td th:text="${person.age}">AGE</td>
		<td th:text="${person.emailAddress}">EMAIL ADDRESS</td>
	</tr>
</table>
  </div>
</div>
</div>
	
</body>
</html>