<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Florists</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../static/styles.css" th:href="@{/styles.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body background="/images/flowersback.jpg" style="background-size: 100%">
	<p class="h1 bold text-center">Pre-Set Packages</p>
	<div class="row text-center" style="margin:10px">
  <div class="col-sm-4">
    <div class="card" style="background-color: #ECF0F1; border-color: #333;">
      <div class="card-block" style="border:solid 1px black">
        <h3 class="card-title">Birthday</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <button class="btn btn-rounded btn-warning" style="margin:10px">Buy</button>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card card-inverse" style="background-color: #ECF0F1; border-color: #333;">
      <div class="card-block" style="border:solid 1px black">
        <h3 class="card-title">Valentines day</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <button class="btn btn-rounded btn-warning" style="margin:10px">Buy</button>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" style="background-color: #ECF0F1; border-color: #333;">
      <div class="card-block" style="border:solid 1px black">
        <h3 class="card-title">MothersDay</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <button class="btn btn-rounded btn-warning" style="margin:10px">Buy</button>
      </div>
    </div>
  </div>
</div>
		
  
</body>
</html>